*{
    padding: 0;
    margin: 0;
}

.hero{
    width: 100;
    height: 100vh;
    background-image: url(IMG/IMG_E4334.JPG);
    background-position: center;
    background-size: 20;
    position: relative;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li{
    text-decoration: none;
    color: azure;
    font-weight: bold;
    font-family: sans-serif;
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;
}

.left{
    margin-left: 6%;
}

.left h1{
    font-size: 98px;
    color: azure;
    line-height: 110px;
    float: left;
}

.right{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.right P{
    font-size: 20px;
    color: azure;
    font-family: sans-serif;
    margin-right: 15px;
}

#icon{
    width: 80px;
    cursor: pointer;
}

